html {
  font-size: 14px;
}



@media (min-width: 381px) {
    html {
        font-size: 14px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

 
   
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*SÖKRUTA BÖRJAR HÄR ---------------------- */

.search-bar {
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    backdrop-filter: blur();
}

    .search-bar input {
        flex: 1;
        border: 0;
        outline: none;
        padding: 10px 7px;
        font-size: 20px;
    }

    .search-bar button {
        border: 0;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        cursor: pointer;
    }

/*SÖKRUTA SLUTAR HÄR ---------------------- */

/*SÖKRUTA SMALL BÖRJAR HÄR ---------------------- */

/*.search-bar-small {
    background-color: #fff;
    width: 15%;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;*//*
    padding: 5px 5px;*/
    /*margin-top: 5px;
    margin-bottom: 5px;*/
    /*backdrop-filter: blur();
}

    .search-bar-small input {
        flex: 1;
        border: 0;
        outline: none;*//*
        padding: 5px 7px;*/
        /*font-size: 15px;
    }

    .search-bar-small button {
        border: 0;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }*/

/*SÖKRUTA SMALL SLUTAR HÄR ---------------------- */

/* KNAPPAR: */

.fodmap-button {
    border: 0;
    border-radius: 20px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.375rem 0.95rem;
    font-size: 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-primary {
    color: #fff;
    background-color: #68bb59;
    border-color: #68bb59;
}

    .button-primary:hover {
        color: #fff;
        background-color: #acdf89;
        border-color: #acdf89;
    }

    .button-primary:focus {
        color: #fff;
        background-color: #acdf89;
        border-color: #acdf89;
        box-shadow: 0 0 0 0.25rem rgba(104, 187, 89, 0.5);
    }

    .button-primary:active {
        color: #fff;
        background-color: #acdf89;
        border-color: #acdf89;
    }

.button-primary:link {
    color: #fff;
}

/* OLIKA FÄRGER & BAKGRUNDER */

.f-primary-color {
    background-color: #68bb59;
}

.f-secondary-color {
    background-color: #acdf89;
}

.f-darker-color {
    background-color: #4c9a2a;
}

.f-gray-color {
    background-color: #c9c9c9;
}

.f-yellow-color {
    background-color: #ffd300; 
    color: white;
}

.f-red-color {
    background-color: #de0a26;
    color: white;
}

.action-link {
    color: #000;
}

.action-link:hover {
    color: #c9c9c9;
}

.action-link:active {
    color: #c9c9c9;
}



/* CARDS */

.fodmap-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.10);
    padding-bottom: 20px;
}

.fodmap-product-card {
    padding-bottom: 20px;
}

    
    .fodmap-product-card img {
        height: 150px;
        width: 150px;
        object-fit: contain;
        border: 5px solid #acdf89;
        border-radius: 50%;
    }

.fodmap-card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.fodmap-card-title {
  margin-bottom: 15px;
}

.fodmap-card-subtitle {
  margin-top: -0.25rem;
  margin-bottom: 0;
  justify-content: center;
}

.card-footer {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}




@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .fodmap-product-card img {
        height: 150px;
        width: 150px;
        object-fit: contain;
        border: 7px solid #acdf89;
        border-radius: 50%;
    }

}

