<div class="row">
    <div class="col-md-6 offset-3">
        <h3>Du har hamnat på en sida som inte existerar..</h5>
        <hr />
        <a class="fodmap-button button-primary" asp-controller="Articles" asp-action="Index">Gå tillbaka till startsidan</a>
    </div>
</div>