@model IEnumerable<RedFodmap>

  
    <!-- Här visas alla röda fodmaps upp i en lista: -->
   
        <div class="table-responsive">
    <table class="table table-responsive table-borderless table-striped">
        <thead>
            <tr class="f-red-color">  <!-- Namn på varje kolumn: -->
                <th>Röda fodmaps</th>
                
            </tr>
        </thead>
        <tbody>
             <!-- Visa all data från listan i tabellen: -->
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RedFodmapList</td>
                    
                </tr>
            }
        </tbody>
    </table>
    </div>